body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family:  'Open Sans', 'Noto Sans KR', sans-serif;
    padding-top: 80px;
    padding-bottom: 60px;
    
}

main{
    animation: bodyInOut .5s ease-in-out;
}

@keyframes bodyInOut{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

* {
    box-sizing: border-box;
}